


.digitalClock{
    position: relative;
    width:200px;
    height: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: white;
    
    border-radius: 5px;
    box-shadow:  0 10px 10px rgba(0,0,0,.4);
    font-size: 20px;
    font-weight: 600;
    
    
    
}
.dayTitle{
    font-size:20px;
    margin-bottom:10px;
}
.digitalTime{
  display:flex;

}
.ampm{
    margin-top:10px;
    font-size:12px;
}