<section class="py-5">
  <h1 class="text-center">Ajouter un nouveau plat </h1>
  <div class="container card px-4 px-lg-5 my-5">
    <div class="row">
      <div class="col-md-10">
        <form (ngSubmit)="onSubmit(addMeal)" #addMeal="ngForm" class="mt-5">
          <div class="row">
            <div class="col-md-6">
              <img
                [src]="meal.image64"
                alt="{{ meal.label }}"
                class="img-fluid rounded mt-2"
                width="300"
              />
            </div>
            <div class="col-md-6">
              <!-- meal label -->
              <div class="form-group">
                <label>Libellé</label>
                <input
                  type="text"
                  [(ngModel)]="meal.label"
                  name="label"
                  class="form-control"
                  required
                />
              </div>
               <!-- meal description-->
              <div class="form-group">
               <label for="description">Déscription</label>
               <input
                 type="text"
                 [(ngModel)]="meal.description"
                 name="description"
                 class="form-control"
                 required
               />
              </div>
               <!-- meal category -->
               <div>
                <label>Categorie</label>

                <ng-multiselect-dropdown
                  [settings]="dropdownSettingsCategory"
                  [data]="categories"
                  [placeholder]="'Sélectionnez le categorie'"
                  [(ngModel)]="categorySelected"

                  name="categories"
                ></ng-multiselect-dropdown>
              </div>
              <!-- meal status -->

              <div class="form-group">
                <label for="status">Statut</label>
                <input
                  type="text"
                  [(ngModel)]="meal.status"
                  name="status"
                  class="form-control"
                  required
                />
              </div>
              <!--	 meal image -->
              <div>
                <label>Image</label>
                <input
                  type="text"
                  [(ngModel)]="meal.image64"
                  name="image"
                  class="form-control"
                  required
                />
              </div>
              <!-- meal price -->
              <div>
                <label>Price</label>
                <input
                  type="text"
                  [(ngModel)]="meal.priceDF"
                  name="priceDF"
                  class="form-control"
                  required
                />
              </div>
              <!-- meal ingredients -->
              <div>
                <label>Ingredients</label>

                <ng-multiselect-dropdown
                  [settings]="dropdownSettings"
                  [data]="ingredients"
                  [placeholder]="'Sélectionnez les ingredients'"
                  [(ngModel)]="meal.ingredients"
                  name="meals"
                ></ng-multiselect-dropdown>
              </div>
              <!-- meal semaine -->

                <label>Disponibilité par semaine</label>
                <ng-multiselect-dropdown
                [settings]="dropdownSettingsWeek"
                [data]="availableForWeeks"
                [placeholder]="'Sélectionnez les semaines'"
                [(ngModel)]=" meal.availableForWeeks"
                name="availableForWeeks"
              ></ng-multiselect-dropdown>

              <!--  Submit button -->
              <div class="divider"></div>
              <div class="section center">
                <button
                  type="submit"
                  class="btn btn-warning float-end my-5"
                  [disabled]="!addMeal.form.valid"
                >
                  Valider
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
