<app-header></app-header>

<main class="main">
  <div class="container">
    <h2 class="my-5">  Liste de menus</h2>
    <table class="table table-bordered mt-5">
      <thead class="table-success">
        <tr >
          <th>#ID</th>
          <th>Label</th>
          <th>Image</th>
          <th>Status</th>
          <th>Prix</th>
          <th>Semaines</th>

          <th>Plats</th>

          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let menu of menus | paginate: {
        id: 'first',
        itemsPerPage: 5,
        currentPage: p,
        totalItems: totalLength
            }">
          <td >{{ menu.id }}</td>

            <td>{{ menu.label }}</td>
             <td><img [src]="menu.image64" alt="{{menu.label}}" class="img-fluid rounded mt-2" width="200"></td>
          <td>{{ menu.status }}</td>
          <td>{{ menu.priceDF }}</td>
          <td>{{ menu.availableForWeeks }} </td>

          <td >
            <ul *ngFor="let meal of menu.meals"><li>{{meal.label}}</li></ul>
            </td>

          <td>

            <button type="button" class="btn btn-secondary mt-5 me-2" [routerLink]="['edit-menu', menu.id]">Modifier</button>
            <button type="button" class="btn btn-success mt-5" (click)="removeMenu(menu.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls  previousLabel="Précédente"
    nextLabel="Suivante" (pageChange)="p = $event" class="text-center my-5 my-pagination" id="first"></pagination-controls>

    <button type="button" class="btn btn-warning me-2 float-end" [routerLink]="['add-menu']">Ajouter</button>

  </div>
</main>
<app-footer></app-footer>
