<app-header></app-header>
<main class="main">
    <div class="container">

    <h1 class="text-center my-5"> <i class="far fa-lemon fa-xs text-warning"></i> Le menu de la semaine</h1>
    <div class="row ">
        <div class="col-md-4 m-3 mx-auto rounded-2" *ngFor="let menu of menus">
          <div class="card">
          
            <img 
              [src] =""
              alt="{{menu.imageId}}"
            />
         
            <div class="card-body">
              <p></p>
              <h5 class="card-title">{{menu.label}}</h5>
              <p class="card-text">
                {{menu.priceDF}} &euro;
              </p>


              <div *ngFor="let meal of menu.meals">

<p>{{meal.label}}</p>
<div >
 <img 
src =""
class="card-img-top"
alt="{{meal.imageId}}"
/> 
</div>

              </div>



            </div>
          </div>
        </div>
        
      </div>
    </div>
</main>
<app-footer></app-footer>

