<app-header></app-header>
<main class="main">
  <div class="container">

    <h1 class="text-center my-5"> Le menu de la semaine</h1>
    <div class="row d-flex justify-content-between flex-wrap">
     
      

        <div class="card " *ngFor="let menu of listMenuToday" >
          <div class="card-title"><h4 class="text-center m-3"> <img [src]="menu.image64" alt="" width="60"> {{menu.label}}</h4>
            <hr>
        </div>
          <div class="card-body">
            
            <ul *ngFor="let meal of menu.meals">
              <li>{{meal.label}}</li>
             
             
            </ul>
        </div>
             
            <div class="card-footer text-center">     
           <a class=" btn btnCard"> {{menu.priceDF}} &euro;</a>
            </div>

          </div>
        </div>
        <h1 class="text-center my-5"> Les plats de la semaine</h1>
<div *ngFor="let meal of mealList">
{{meal.label}}

 <img [src]="meal.image64" alt="" srcset="">
<p>Prix: {{meal.priceDF}}</p>
<ul *ngFor="let ingredient of meal.ingredients">
  <li>{{ingredient.label}}</li>
</ul>
</div>
    </div>
 
</main>
<app-footer></app-footer>